*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0%;
    margin: 0%;
    /* background-color:#F67280 ; */
}
.main{
    display: flex;
    width: 100%;
    border: 11px solid rgb(235, 99, 8);
     height: 100vh;
}
.top{
    display: flex;
    border: 1px solid firebrick;
    width: 100%;
    height: 10%;
    align-items: center;
}
.heading{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
h4{
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    color: #d61e77;
}
.left{
    
    display: flex;
    width: 70%;
    /* height: 50%; */
}
.ballon{
    display:flex;
    border: 11px solid teal;
    width: 100%;

}
.ballon1{
    display:flex;
    border: 11px solid teal;
    width: 100%;

}
img{
    width: 100px;
}
.all{
    display: flex;
}
.right{
    /* border: 11px solid hotpink; */
    width: 27%;
}